.carousel-control-next{

  background-color: black;
}
.carousel-control-prev{

  background-color: black;
}
.search{
  margin-left: auto;
}
.headings{
  margin: 1% 49%;
}
@media (max-width: 425px) {
  .carousel-control-next{

    display: none;
  }
  .carousel-control-prev{
  
    display: none;
  }
}

